

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F0329;
    color: white;
  }


  .perfilicono{
    width: 50px; 
    height: 50px;
  }
  
  .barra-navegacion {
    background-color: #BB1640;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: auto;
  }
  
  .barra-navegacion a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    margin-left: 90px;
  }
  
  .barra-navegacion input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
.cntenedor {
    align-items: center;
    margin: 0 auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #410656;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 1000px;
  }

  .card-content {
    padding: 20px;
}

#character-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#character-description {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word; /* Esto mejora la justificación para evitar espacios excesivos entre palabras */
    }
  
  
 
