body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #1F0329;
  }
  

.barra-navegacion {
    background-color: #BB1640;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: auto;
}

.barra-navegacion a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    margin-left: 90px;
}

.barra-navegacion input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grande {
    flex-direction: column;
    align-items: center;
}

.chiquito {
    flex-direction: column;
    align-items: flex-start;
}


  .titulofav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
  }
















  .cuartobanner {

    background-color: #BB1640;
    height: 400PX;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .contenedorcont{
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  
  }
  
  .titulocontacto {
  
    display: flex;
    color: white;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 50px;
    padding: 5px;
  
  }
  
  .titulocont {
  
    align-items: center;
      justify-content: center;
      font-size: 50px;
  }
  
  .contact1 {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 1200px;
    margin-top: 50px;
    color: white;
  }
  
  .contact2 {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 900px;
    color: white;
  }
  
  .cajaicono {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 300px;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  
  .botonIG{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 300px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-color: transparent;
    color: white;
    font-family: arial;
    font-size: 20px;
  
  }
  
  .icono {
    height: 80px;
    width: 80px;
    display: flex;
  }
  
  .cajaemail{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 500px;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  
  .boticonom {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 450px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-color: transparent;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
  
  }