body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #1F0329;
}

  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 25px;
  }
  
  .contenedor-personajes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  




  .barra-navegacion {
    background-color: #BB1640;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: auto;
}

.barra-navegacion a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    margin-left: 90px;
}

.barra-navegacion input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* Estilos de la sección de contenedores */
.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grande {
    flex-direction: column;
    align-items: center;
}

.chiquito {
    flex-direction: column;
    align-items: flex-start;
}










  .personaje {
    background-color: #51036D;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .personaje img {
    max-width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 18px;
  }
  
  .nombre-favorito {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nombre-favorito a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin:  15px;
    padding: 15px;
  }
  
  .estrella {
    cursor: pointer;
    width: 60px; 
    transition: transform 0.3s ease;
  }
  
  .estrella:hover {
    transform: scale(1.1);
  }



























  
  