body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1F0329;
    font-size: 16px; 
}
.login-container {
    background-color: #51036D;
    border-radius: 2rem; 
    box-shadow: 0 0.2rem 0.5rem rgba(255, 254, 254, 0.1);
    padding: 1.25rem;
    width: 18.75rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container .logo {
    width: 15.625rem; /* Utilizando unidades rem para el ancho */
    margin-bottom: 2.5rem; /* Utilizando unidades rem para el margin-bottom */
}

.input-group {
    margin-bottom: 0.625rem; /* Utilizando unidades rem para el margin-bottom */
    width: 15.625rem; /* Utilizando unidades rem para el ancho */
}

.input-group input {
    width: 100%;
    padding: 0.5rem; /* Utilizando unidades rem para el padding */
    border-radius: 0.3125rem; /* Utilizando unidades rem para el border-radius */
    border: 0.0625rem solid #ccc; /* Utilizando unidades rem para el border */
    color: #51036D;
}

button {
    width: 100%;
    padding: 0.625rem; 
    background-color: #E0013D;
    color: #fff;
    border: none;
    border-radius: 2.5rem; 
    cursor: pointer;
}

.login-container p {
    margin-top: 0.9375rem;
    font-size: 0.8125rem; 
    color: #ffffff;
}

.login-container p a {
    color: #ffffff;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}